.step-progress-container {
  padding: 40px 150px;
  margin-bottom: 40px;
}

.custom-steps .ant-steps-item-title {
  font-size: 19px !important;
  font-weight: 600 !important;
}

.custom-steps .ant-steps-item-description {
  font-size: 14px !important;
}

.custom-steps .ant-steps-item-wait {
  opacity: 0.5;
}
