.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0;
  align-items: stretch;
  margin-bottom: 16px;
}
.contact-info {
  background: #f6f6f6;
  color: #17183b;
  padding: 40px;
  width: 320px;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
.contact-info h2 {
  margin: 0 0 10px;
  font-size: 24px;
}
.item span {
  display: block;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 4px;
}
.form-container {
  background: white;
  padding: 40px;
  width: 450px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.form-container h2 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
}
input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
textarea {
  height: 120px;
  resize: none;
}
button {
  width: 150px;
  padding: 12px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}
button:hover {
  background: gray;
}
