.header {
  padding: 16px 160px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 40px;
}

.search {
  flex: 1;
}

.input-search {
  padding: 16px;
  background-color: #f5f5f5;
  border: none;
  font-size: 14px;
  color: #656565;
}

.input-search:hover {
  background-color: #f5f5f5;
}

.icon-search {
  font-size: 20px;
  color: #989898;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation {
  display: flex;
  gap: 52px;
}

.navigation-item {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.unactive {
  color: #656565 !important;
}

.list-icon {
  display: flex;
  gap: 24px;
}

.icon-item {
  font-size: 22px;
}
