.footer {
  background-color: #000;
  color: #cfcfcf;
  padding: 104px 160px;
  font-family: "Inter", sans-serif;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-text {
  font-size: 14px;
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 30px;
}

.footer-socials {
  display: flex;
  gap: 18px;
  font-size: 18px;
}

.footer-socials svg {
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-socials svg:hover {
  color: #888;
}

.footer-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #fff;
  margin-top: 0;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-list li:hover {
  color: #fff;
}
